<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Filling in personal data</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-patient-card-form></app-patient-card-form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Fullname</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pc of service.list">
        <td (click)="populateForm(pc)">{{pc.fullname}}</td>
        <td (click)="populateForm(pc)">{{pc.number}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pc.id)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




